.card__article_info_user_share {
    position: relative;
}

.card__article_info_user_share_icon {
    color: var(--Desaturated-Dark-Blue);
    background-color: var(--Light-Grayish-Blue);
    padding: 0.7rem;
    border-radius: 50%;
    cursor: pointer;
}

.card__article_info_user_share_icon:hover {
    color: var(--Light-Grayish-Blue);
    background-color: var(--Desaturated-Dark-Blue);
}

.card__article_info_user_share_popup {
    position: absolute;
    bottom: 100px;
    /* Adjust this to control vertical distance from button */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--Very-Dark-Grayish-Blue);
    color: white;
    padding: 1.25rem 2.5rem;
    border-radius: 0.5rem;
    z-index: 1;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    box-shadow: 0px 5px 40px 5px rgba(0, 0, 0, 0.1);
}

.card__article_info_user_share_popup:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border-width: 20px;
    border-style: solid;
    border-color: var(--Very-Dark-Grayish-Blue) transparent transparent transparent;
}

.card__article_info_user_share_popup p {
    color: var(--Desaturated-Dark-Blue);
}

@media screen and (max-width: 925px) {
    .card__article_info_user_share_popup {
        display: none;
    }

    .card__article_info_user_share_popup:after {
        display: none;
    }
}